.status-bar{
    padding: 5px;
    position:fixed;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    top:0;
    width: 100%;
    box-sizing: border-box;
}
.status-bar img{
    width:30px;
    height: 30px;
    border-radius: 10px;
}
.app_box{
    margin-right:20px;
}
.app_box a{
    text-decoration: none;
}